<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}"
    {{ if and .Site.Params.enableDarkMode .Site.Params.overrideSystemPreferences }}{{ with .Site.Params.defaultTheme | default "light" }}
    data-theme="{{ . }}" {{ end }}{{ end }}>
{{ partial "head.html" . }}

<body>
    <div class="container">
        {{ partial "header.html" . }}
        {{ if ne .Site.Params.headerLayout "flex" }}
        {{ if or (and .IsHome .Site.Params.displayMenuInHome) (and (not .IsHome) .Site.Params.enableMenu) }}
        {{ partial "menu.html" . }}
        {{ end }}
        {{ partial "components/multilingual.html" . }}
        {{ partial "components/dark-mode.html" . }}
        {{ end }}
        {{ block "main" . }}{{ end }}
        {{ partial "components/back-to-top.html" . }}
        {{ partial "footer.html" . }}
    </div>
    {{ partial "third-party/script.html" . }}
    <div class="app-refresh" id="app-refresh">
        <div class="app-refresh-wrap" onclick="location.reload()">
            <label>已更新最新版本</label>
            <span>点击刷新</span>
        </div>
    </div>

    <script>
        if ('serviceWorker' in navigator) {
            if (navigator.serviceWorker.controller) {
                navigator.serviceWorker.addEventListener('controllerchange', function () {
                    showNotification();
                });
            }

            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/sw.js');
            });
        }

        function showNotification() {
            document.querySelector('meta[name=theme-color]').content = '#000';
            document.getElementById('app-refresh').className += ' app-refresh-show';
        }
    </script>
</body>

</html>